@import url("@thisbeyond/solid-select/style.css");

.home.solid-select-container {
  @apply w-full lg:flex-1 lg:max-w-1/2 text-gray-800 text-3xl font-bold leading-none mb-5 bg-white;
}

.home .solid-select-list {
  @apply max-h-[50vh] overflow-y-auto;
}

.home .solid-select-option {
  @apply font-normal text-2xl whitespace-normal;
}

div.hint {
  padding: 12px;
  margin-block: 16px;
  background-color: white;
  border-radius: 8px;
}

div.hint span.highlight {
  background-color: antiquewhite;
  white-space: nowrap;
  font-family: monospace;

}